# Drone docker runner configuration

DRONE_RUNNER_CAPACITY={{ runner_capacity }}
DRONE_RPC_PROTO={{ drone_proto }}
DRONE_RPC_HOST={{ ansible_hostname }}
DRONE_RPC_SECRET={{ rpc_secret }}
DRONE_RUNNER_NAME={{ ansible_hostname }}
