# Drone server configuration


DRONE_GITHUB_CLIENT_SECRET={{ gitlab.client_secret }}
DRONE_GITHUB_CLIENT_ID={{ gitlab.client_id }}
DRONE_SERVER_HOST={{ ansible_hostname }}
DRONE_SERVER_PROTO={{ drone_proto }}
DRONE_RPC_SECRET={{ rpc_secret }}
DRONE_USER_FILTER={{ drone_users | join(',') }}
DRONE_USER_CREATE={{ drone_default_admin }}
DRONE_LOGS_DEBUG=true
